@import "tailwindcss";

@layer utilities {
  @media print {
    .no-print {
      display: none !important;
    }
    body {
      background-color: white !important;
      color: black !important;
    }
    .printable-receipt {
      box-shadow: none !important;
      border: none !important;
      padding: 0 !important;
      margin: 0 !important;
      width: 100% !important;
      max-width: 100% !important;
    }
  }
}
